PORT=
JWT_SECRET=
SECRET_KEY_ACCESS_TOKEN=
SECRET_KEY_REFRESH_TOKEN=

CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET_KEY=


EMAIL_USER=
EMAIL_PASS=
LOGIN_PASS=


USERNAME=
PASSWORD=
API_KEY=
API_URL=

CELLCAST_USER=
CELLCAST_PASS=
CELLCAST_APPKEY=


MONGO_URI=


CRYPTO_SECRET=
GOOGLE_API_KEY=
NODE_ENV=



ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_REGION=
GENERATE_ACCESS_TOKEN=


ADMIN dashboer key (use before remove ADMIN-)
ADMIN-ACCESS_KEY_ID=
ADMIN-SECRET_ACCESS_KEY=
ADMIN-AWS_REGION=